.resume-content {
    display: flex;
    justify-content: center;
    // border: 1px solid red;

    .resume-content-left {
        width: 50%;
        padding: 0.5rem 0.5rem 0rem 0.5rem;
        // margin-right: 2rem;
        // border: 1px solid red;

        .education {
            font-size: 0.75rem;
            padding-bottom: 1rem;

            .heading {
                font-size: 0.75rem;
                font-weight: 900;
                padding-bottom: 0.1rem;
            }

            .education-content {
                font-size: 0.563rem;

                ul {
                    padding-left: 0.9rem;
                    padding-bottom: 0.5rem;
                }
            }
        }

        .projects {
            font-size: 0.75rem;
            padding-bottom: 1rem;

            strong {
                color: #171717;
            }

            .heading {
                font-size: 0.75rem;
                font-weight: 900;
                padding-bottom: 0.1rem;
            }

            .projects-content {
                font-size: 0.563rem;

                .project {
                    .project-title {
                        font-weight: 600;
                    }
                }

                ul {
                    padding-left: 0.9rem;
                    padding-bottom: 0.5rem;
                }
            }
        }
    }

    hr {
        width: 1px;
        background-color: #eff0f2;
        border-style: none;
    }

    .resume-content-right {
        width: 50%;
        padding: 0.5rem;
        // margin-right: 2rem;
        // border: 1px solid red;

        .skills {
            font-size: 0.75rem;
            padding-bottom: 1rem;

            .heading {
                font-size: 0.75rem;
                font-weight: 900;
                padding-bottom: 0.1rem;
            }

            .skills-content {
                font-size: 0.563rem;

                .skill-type {
                    padding-bottom: 0.3rem;

                    .skills-title {
                        font-weight: 600;
                    }
                }
            }
        }

        .courses {
            font-size: 0.75rem;
            padding-bottom: 1rem;

            .heading {
                font-size: 0.75rem;
                font-weight: 900;
                padding-bottom: 0.1rem;
            }

            .course {
                font-size: 0.563rem;

                .course-title {
                    font-weight: 600;
                }

                ul {
                    font-size: 0.563rem;
                    padding-left: 0.9rem;
                    padding-bottom: 0.5rem;
                }

                .course-grid {
                    display: grid;
                    text-align: center;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr 1fr;
                    grid-template-areas:
                        "c-g-1 c-g-2 c-g-3 c-g-3"
                        "c-g-4 c-g-4 c-g-5 c-g-5"
                        "c-g-6 c-g-6 c-g-7 c-g-7"
                        // "c-g-7 c-g-7 c-g-7 c-g-7"
                        "c-g-8 c-g-8 c-g-8 c-g-8";
                }

                .course-grid-1 {
                    grid-area: c-g-1;
                }

                .course-grid-2 {
                    grid-area: c-g-2;
                }

                .course-grid-3 {
                    grid-area: c-g-3;
                }

                .course-grid-4 {
                    grid-area: c-g-4;
                }

                .course-grid-5 {
                    grid-area: c-g-5;
                }

                .course-grid-6 {
                    grid-area: c-g-6;
                }

                .course-grid-7 {
                    grid-area: c-g-7;
                }

                .course-grid-8 {
                    grid-area: c-g-8;
                }
            }
        }

        .experience {
            font-size: 0.563rem;
            padding-bottom: 1rem;

            strong {
                color: #171717;
            }

            .heading {
                font-size: 0.75rem;
                font-weight: 900;
                padding-bottom: 0.1rem;
            }

            .experience-list {


                .experience-title {
                    font-weight: 600;
                }

                ul {
                    padding-left: 0.9rem;
                    padding-bottom: 0.5rem;
                }
            }
        }

    }

}