.resume-content {
    display: flex;
    justify-content: center;
    // border: 1px solid red;

    .resume-content-left {
        width: 50%;
        padding: 1rem;
        margin-right: 2rem;
        // border: 1px solid red;

        .education {
            font-size: 0.75rem;
            padding-bottom: 1rem;

            .heading {
                font-size: 0.75rem;
                font-weight: 900;
                padding-bottom: 0.5rem;
            }

            .education-content {
                font-size: 0.563rem;

                ul {
                    padding-left: 0.9rem;
                    padding-bottom: 0.5rem;
                }
            }
        }

        .projects {
            font-size: 0.75rem;
            padding-bottom: 1rem;

            strong {
                color: #171717;
            }

            .heading {
                font-size: 0.75rem;
                font-weight: 900;
                padding-bottom: 0.5rem;
            }

            .projects-content {
                font-size: 0.563rem;

                .project {
                    .project-title {
                        font-weight: 600;
                    }
                }

                ul {
                    padding-left: 0.9rem;
                    padding-bottom: 0.5rem;
                }
            }
        }
    }

    hr {
        width: 1px;
        background-color: #eff0f2;
        border-style: none;
    }

    .resume-content-right {
        width: 50%;
        padding: 1rem;
        margin-right: 2rem;
        // border: 1px solid red;

        .skills {
            font-size: 0.75rem;
            padding-bottom: 1rem;

            .heading {
                font-size: 0.75rem;
                font-weight: 900;
                padding-bottom: 0.5rem;
            }

            .skills-content {
                font-size: 0.563rem;

                .skill-type {
                    padding-bottom: 0.5rem;

                    .skills-title {
                        font-weight: 600;
                    }
                }
            }
        }

        .courses {
            font-size: 0.75rem;
            padding-bottom: 1rem;

            .heading {
                font-size: 0.75rem;
                font-weight: 900;
                padding-bottom: 0.5rem;
            }

            .course {
                font-size: 0.563rem;

                .course-title {
                    font-weight: 600;
                }

                ul {
                    font-size: 0.563rem;
                    padding-left: 0.9rem;
                    padding-bottom: 0.5rem;
                }
            }
        }

        .experience {
            font-size: 0.563rem;

            strong {
                color: #171717;
            }

            .heading {
                font-size: 0.75rem;
                font-weight: 900;
                padding-bottom: 0.5rem;
            }

            .experience-list {


                .experience-title {
                    font-weight: 600;
                }

                ul {
                    padding-left: 0.9rem;
                    padding-bottom: 0.5rem;
                }
            }
        }

    }

}