* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.body .resume {
  width: 595px;
}
.body .resume .resume-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.body .resume .resume-header hr {
  width: 100%;
  background-color: #eff0f2;
  border-style: none;
  height: 1px;
  margin-bottom: 0.5rem;
}
.body .resume .resume-header .contact {
  font-size: 0.625rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 0.15rem 0rem;
}
.body .resume .resume-header .contact div {
  padding: 0.1rem 0rem;
}
.body .resume .resume-header .contact a {
  color: black;
  text-decoration: none;
}
.body .resume .resume-header .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.body .resume .resume-header .header .name {
  font-family: "Cardo";
  font-size: 1rem;
  padding: 0.2rem;
}
.body .resume .resume-header .header .occupation {
  font-size: 0.625rem;
  padding: 0.2rem;
}
.body .resume .resume-content {
  display: flex;
  justify-content: center;
}
.body .resume .resume-content .resume-content-left {
  width: 50%;
  padding: 1rem;
  margin-right: 2rem;
}
.body .resume .resume-content .resume-content-left .education {
  font-size: 0.75rem;
  padding-bottom: 1rem;
}
.body .resume .resume-content .resume-content-left .education .heading {
  font-size: 0.75rem;
  font-weight: 900;
  padding-bottom: 0.5rem;
}
.body .resume .resume-content .resume-content-left .education .education-content {
  font-size: 0.563rem;
}
.body .resume .resume-content .resume-content-left .education .education-content ul {
  padding-left: 0.9rem;
  padding-bottom: 0.5rem;
}
.body .resume .resume-content .resume-content-left .projects {
  font-size: 0.75rem;
  padding-bottom: 1rem;
}
.body .resume .resume-content .resume-content-left .projects strong {
  color: #171717;
}
.body .resume .resume-content .resume-content-left .projects .heading {
  font-size: 0.75rem;
  font-weight: 900;
  padding-bottom: 0.5rem;
}
.body .resume .resume-content .resume-content-left .projects .projects-content {
  font-size: 0.563rem;
}
.body .resume .resume-content .resume-content-left .projects .projects-content .project .project-title {
  font-weight: 600;
}
.body .resume .resume-content .resume-content-left .projects .projects-content ul {
  padding-left: 0.9rem;
  padding-bottom: 0.5rem;
}
.body .resume .resume-content hr {
  width: 1px;
  background-color: #eff0f2;
  border-style: none;
}
.body .resume .resume-content .resume-content-right {
  width: 50%;
  padding: 1rem;
  margin-right: 2rem;
}
.body .resume .resume-content .resume-content-right .skills {
  font-size: 0.75rem;
  padding-bottom: 1rem;
}
.body .resume .resume-content .resume-content-right .skills .heading {
  font-size: 0.75rem;
  font-weight: 900;
  padding-bottom: 0.5rem;
}
.body .resume .resume-content .resume-content-right .skills .skills-content {
  font-size: 0.563rem;
}
.body .resume .resume-content .resume-content-right .skills .skills-content .skill-type {
  padding-bottom: 0.5rem;
}
.body .resume .resume-content .resume-content-right .skills .skills-content .skill-type .skills-title {
  font-weight: 600;
}
.body .resume .resume-content .resume-content-right .courses {
  font-size: 0.75rem;
  padding-bottom: 1rem;
}
.body .resume .resume-content .resume-content-right .courses .heading {
  font-size: 0.75rem;
  font-weight: 900;
  padding-bottom: 0.5rem;
}
.body .resume .resume-content .resume-content-right .courses .course {
  font-size: 0.563rem;
}
.body .resume .resume-content .resume-content-right .courses .course .course-title {
  font-weight: 600;
}
.body .resume .resume-content .resume-content-right .courses .course ul {
  font-size: 0.563rem;
  padding-left: 0.9rem;
  padding-bottom: 0.5rem;
}
.body .resume .resume-content .resume-content-right .experience {
  font-size: 0.563rem;
}
.body .resume .resume-content .resume-content-right .experience strong {
  color: #171717;
}
.body .resume .resume-content .resume-content-right .experience .heading {
  font-size: 0.75rem;
  font-weight: 900;
  padding-bottom: 0.5rem;
}
.body .resume .resume-content .resume-content-right .experience .experience-list .experience-title {
  font-weight: 600;
}
.body .resume .resume-content .resume-content-right .experience .experience-list ul {
  padding-left: 0.9rem;
  padding-bottom: 0.5rem;
}
.body .resume .footer {
  font-size: 0.625rem;
}
.body .resume .footer .contact-me {
  font-weight: 600;
}

.img-filter {
  filter: invert(8%) sepia(100%) saturate(7317%) hue-rotate(248deg) brightness(95%) contrast(143%);
}/*# sourceMappingURL=x.css.map */