html {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
    // border: 1px solid red;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    .black-horizontal {
        width: 100%;
        height: 0.5px;
        background-color: #b1b1b1;
    }

    .resume {
        width: 595px;
        // height: 842px;
        // border: 1px solid red;

        .resume-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            hr {
                width: 100%;
                background-color: #eff0f2;
                border-style: none;
                height: 1px;
                margin-bottom: 0.5rem;
            }

            .contact {
                font-size: 0.625rem;
                display: flex;
                // flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
                // border: 1px solid red;
                padding: 0.15rem 0rem;

                div {
                    width: 50%;
                    padding: 0.1rem 0rem 0.1rem 0.15rem;
                    // margin-top: 0.2rem;
                    // border: 1px solid red;

                    div {
                        width: 100%;
                        // border: 1px solid red;
                    }
                }

                // .left {
                //     padding-right: 5rem;
                //     border: 1px solid red;
                // }

                .right {
                    padding-left: 0.5rem;
                    // border: 1px solid red;
                }

                a {
                    color: black;
                    text-decoration: none;
                }
            }

            .header {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .name {
                    font-family: 'Cardo';
                    font-size: 1rem;
                    padding: 0.2rem;
                }

                .occupation {
                    font-size: 0.625rem;
                    padding: 0.2rem;
                }
            }
        }

        @import 'content';

        .footer {
            font-size: 0.625rem;

            .contact-me {
                font-weight: 600;
            }
        }
    }
}

.img-filter {
    filter: invert(8%) sepia(100%) saturate(7317%) hue-rotate(248deg) brightness(95%) contrast(143%);
}